body {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  border: none;
  color: white;
  width: 140px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(237, 255, 249);
  color: black;
  text-transform: uppercase;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
}

.button:hover {
  background-color: #2EE59D;
  transform: translateY(-4px);
}
